<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/datepicker.css.css" th:href="@{/css/datepicker.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/app.css" th:href="@{/css/app.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div style="height: auto;" id="filter-panel" class="filter-panel collapse in">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-inline" role="form" th:action="@{/search}" method="post"
                              th:object="${searchComponent}">
                            <div class="form-group">
                                <label for="startDate" class="sr-only">Start date</label>
                                <input id="startDate" name="dateFrom" class="form-control input-sm" size="16"
                                       type="text" th:field="*{startDate}"
                                       th:value="*{startDate}"/>
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                            <div class="form-group">
                                <label for="endDate" class="sr-only">End date</label>
                                <input id="endDate" name="dateTo" class="form-control input-sm" size="16" type="text"
                                       th:field="*{endDate}"
                                       th:value="*{endDate}"/>
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>

                            <!--                            <div class="form-group">
                                                            <label class="filter-col" style="margin-right:0;" for="pref-perpage">Rows per
                                                                page:</label>
                                                            <select id="pref-perpage" class="form-control">
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                            </select>
                                                        </div>-->


                            <!-- form group [order by] -->
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" data-toggle="collapse"
                                        data-target="#filter-panel">
                                    <span class="glyphicon glyphicon-search"></span> Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            <table class="table table-hover">

                <tr class="table-header">
                    <th>No</th>
                    <th>Run date</th>
                    <th>Distance</th>
                    <th>Duration</th>
                    <th>Device</th>
                    <th></th>
                </tr>
                <tr class="active transparent" th:each="activity : ${activities}">
                    <td th:text="${activityStat.count}"></td>
                    <th:block
                            th:with="someVariable=${T(com.nikedownloader.utils.StringUtil).xmlDateTimeToString(activity.startTime)}">
                        <td th:datetime="${someVariable}" th:text="${someVariable}"></td>
                    </th:block>
                    <td>
                        <span th:text="${T(com.nikedownloader.utils.StringUtil).roundStringNumber(activity.metricSummary.distance) + ' km'}"></span>
                        <i class="glyphicon glyphicon-map-marker" aria-hidden="true"
                           th:if="${activity.isGpsActivity}"></i>
                    </td>
                    <td th:text="${activity.metricSummary.duration}"></td>
                    <td th:text="${activity.deviceType}"></td>
                    <td>
                        <button class="btn btn-sm btn-success"
                                th:href="@{|/activities/download?id=${activity.activityId}|}">
                            <i class="glyphicon glyphicon-download" aria-hidden="true"></i>
                        </button>
                    </td>

                </tr>
            </table>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>
<script href="../static/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}" type="javascript"/>
<script href="../static/js/bootstrap-datepicker.js" th:href="@{/js/bootstrap-datepicker.js}" type="javascript"/>
<script href="../static/js/functions.js" th:href="@{/js/functions.js}" type="javascript"/>
</body>
</html>