<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link href="../static/app.css" th:href="@{/app.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">

    <form class="form-signin" th:action="@{/}" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input name="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" type="email"
              />
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" id="inputPassword" class="form-control" placeholder="Password" required="" type="password"
               />

        <div class="checkbox">
            <label>
                <input value="remember-me" type="checkbox"/> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div>

<div th:replace="fragments/footer :: footer"></div>
<script href="../static/bootstrap.min.js" th:href="@{/bootstrap.min.js}" type="javascript"/>
<script href="../static/bootstrap-datepicker.js" th:href="@{/bootstrap-datepicker.js}" type="javascript"/>
<script href="../static/functions.js" th:href="@{/functions.js}" type="javascript"/>
</body>
</html>